.TodoItem {
    background-color: #f4f4f4;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgb(172, 43, 231);
}

.TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 180px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    box-shadow: 0px 5px 50px rgb(190, 6, 37);
}

.TodoItem-p--complete {
    
    text-decoration: line-through;
    box-shadow: 0px 5px 50px rgb(28, 221, 76);
}

.Icon {
    
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    /*background-color: #ccc;*/
}

.Icon-check {
    position: absolute;
    left: 12px;
}

.Icon-check--active {
    color: #4caf50;
}

.Icon-delete {
    position: absolute;
    top: -24px;
    right: 0;
}

.Icon-delete:hover {
    color: red;
}


.Icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
}

.Icon-container-check {
    position: absolute;
    left: 12px;
}

.Icon-container-check--active {
    color: #4caf50;
}

.Icon-container-delete {
    position: absolute;
    top: -24px;
    right: 0;
}

.Icon-container-delete:hover {
    color: red;
}

.Icon-svg {
    width: 24px;
    height: 24px;
}

.Icon-container-check:hover .Icon-svg {
    fill: green;
}

.Icon-container-delete:hover .Icon-svg {
    fill: red;
}
